{% extends 'user-base.html' %}
{% block content %}
    <h1>Create item</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.name.label }}<br>
            {{ form.name(size=32) }}<br>
            {% for error in form.name.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.category.label }}<br>
            {{ form.category(size=64) }}<br>
            {% for error in form.category.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.weight.label }}<br>
            {{ form.weight(size=32) }}<br>
            {% for error in form.weight.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.quantity.label }}<br>
            {{ form.quantity(size=32) }}<br>
            {% for error in form.quantity.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.cost.label }}<br>
            {{ form.cost(size=32) }}<br>
            {% for error in form.cost.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
    <p>
            {{ form.description.label }}<br>
            {{ form.description(size=32) }}<br>
            {% for error in form.description.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}