<html>
    <head>
        {% block content %}{% endblock %}
<!--        <div><a href="{{url_for('main.index')}}">Home</a></div>-->
<!--        <div><a href="{{url_for('auth.signup')}}">Signup</a></div>-->
<!--        <div><a href="{{url_for('auth.login')}}">Login</a></div>-->
    </head>
<!--    <body>-->
        <div><a href="{{url_for('main.index')}}">Home</a></div>
        <div><a href="{{url_for('auth.signup')}}">Signup</a></div>
        <div><a href="{{url_for('auth.login')}}">Login</a></div>
<!--        </body>-->
</html>